@model MichalNajwerLab2.Models.Order

@{
    ViewData["Title"] = "Twoje zamówienie";
}

<h1>Twoje zamówienie</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("Pizza")
        </dt>
        <dd class="col-sm-10">
            @ViewBag.orderedPizza.Name
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Cena")
        </dt>
        <dd class="col-sm-10">
            @ViewBag.orderedPizza.Price zł
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Miasto")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Adres")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Numer telefonu")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Email")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Data zamówienia")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
    </dl>
</div>
<a asp-action="Index">Powrót</a>